
@model IEnumerable<Models.IngredientCategory>

@{
    ViewBag.Title = "IngredientController-Choose";
    Layout = null;
}


@*<select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
        @foreach (var ingredient in Model)
        {
            <option value=@ingredient.Id>
                @ingredient.Name
            </option>
        }

    </select>*@

@foreach (var category in Model)
{
    <div class="category-box"  style="border:black solid 1px; float: left; margin: 15px; padding: 15px; width: 150px; ">
        @*<span class="plus">+ </span>
        <span class="minus">- </span >*@
        <span class="category" data-categoryid="@category.Id">@category.Name </span> 
        <br/>
        <div class="ingredient-box" >
            @foreach (var ingredient in category.Ingredients)
            {
                <input type="checkbox" data-ingredientid="@ingredient.Id" value="@ingredient.Id"/>
                @ingredient.Name
                <br />

            }
        </div>

    </div> 
    
}

<div style="clear: both"></div>






   
   
