@using Dishes.Helpers

@*@model IEnumerable<Models.Ingredient>*@

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}




<html>
<head>

    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>


    <link rel="stylesheet" href="../../Content/chosen.css">
</head>
    <body>
        
        @Html.Action("Choose", "Ingredients")
        
        <ul class="dishesList"></ul>

        <div class="panel panel-default" data-bind="visible: dishes().length">
            <div class="panel-heading" >Dishes that you can cook </div>
            <div class="panel-body">
                <div  data-bind="foreach: dishes">
                    <div class="each-dish">
                        
                        <a data-bind="attr: { href: '@Url.AbsoluteAction("Dish", "Dishes")'.replace('{id}', Id)}">
                            <img data-bind="attr: {src:'/content/images_prev/'+Image}" alt="..."/>
                        </a>
                        
                            <br/>
                            <a data-bind="text: Name, attr: { href: '@Url.AbsoluteAction("Dish", "Dishes")'.replace('{id}', Id)}">
                            
                            </a>
                                
                           
                        <hr />
                    </div>

                </div>
            </div>
        </div>
    
       
    </body>
</html>

@section scripts{
    
    @Scripts.Render("~/bundles/knockout")
    <script src="../../Scripts/knockout/dishesViewModel.js"></script>

 
    @Scripts.Render("~/bundles/choose")
   
  

}